* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

p {
  text-align: center;
}
